{% macro render_rank_bonus(r,l) -%}
{%- if (r <= 10) %}{{ ((r * 5) + l)|int() }}
{%- elif (r <= 20) %}{{ (50 + ((r - 10) * 2) + l)|int() }}
{%- else %}{{ (70 + (r - 20) + l)|int() }}
{%- endif -%}
{%- endmacro -%}

{%- macro render_row(n) -%}
| {{ n }} | +{{ render_rank_bonus(3 + (n * 2),n) }} | +{{ render_rank_bonus(2 + (n * 1.5),n) }} | +{{ render_rank_bonus(1 + (n),n) }} | +{{ render_rank_bonus((n * 0.5),n) }} | +{{ render_rank_bonus((n * 0.25),n) }} | +{{ render_rank_bonus((n * 0.125),n) }} | +{{ render_rank_bonus(0,n) }} |
{%- endmacro -%}

| Level | #1 | #2 | #3 | #4 | #5 | #6 | #7 |
|:-----:|:-----:|:-----:|:-----:|:-----:|:-----:|:-----:|:-----:|
{% for n in range(20) -%}
{{ render_row(n) }}
{% endfor -%}
{%- for n in range(20,50,2) -%}
{{ render_row(n) }}
{% endfor -%}
{%- for n in range(50,100,5) -%}
{{ render_row(n) }}
{% endfor -%}
{%- for n in range(100,201,10) -%}
{{ render_row(n) }}
{% endfor -%}
